<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/styles-built.css') }}">
    <script src="{{ url_for('static', path='js/htmx.min.js') }}"></script>
</head>

<body>
    <header>
        <h1>{% block heading %}{% endblock %}</h1>
    </header>

    <nav class="p-4 bg-blue">
        <ul>
            <li><a href="#">Hoasdfme</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>

    <main>
        <p class="text-sm font-bold">Hello WOasdfasdfrasfRLD</p>
        <p>Hello WORLD</p>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; {{ current_year }} My Wasdfebsite</p>
    </footer>
</body>

</html>